// -------------------------------
// 		imports
// -------------------------------

@import "code/base/vars";
@import "code/apps/app";


// -------------------------------
// 		general
// -------------------------------

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.view {
	width: 100vw;
	height: 100vh;
	background: #222;
}

h1 {
	color: white;
	margin: 100px auto;
}
