// -------------------------------
// 		imports
// -------------------------------
@import "code/base/vars";
@import "code/apps/normalize";


// -------------------------------
// 		general
// -------------------------------

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.center {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.view {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 60px;
	background: $white;
}

nav {
	background: $green;
}

h1 {
	font-size: 3.5em;
	margin: 20px 0;
	line-height: 1.6em;
}
p {
	font-size: 1.5em;
	margin-top: 20px;
	line-height: 1.5em;
}

// -------------------------------
// 		grid
// -------------------------------

.section {
	a {
		display: table;
		margin: 0 auto;
		line-height: 50px;
		background: $light-blue;
	}
}

.col {
	// outline: 1px solid red;
}

// -------------------------------
// 		sections
// -------------------------------

.header {
	height: 90vh;
	background: lightgrey;

	h1 {
		font-size: 6vw;
		margin-top: 200px;
		text-align: center;
		line-height: 1.2em;
	}
}

.introduction {
	padding: 100px 0 150px 0 !important;

	img {
		height: 300px;
		background: grey;
		width: 100%;
		height: 100%;
	}
}

.products {
	background: $black;
	padding: 100px 0 150px 0 !important;

	h1, p {
		color: $white;
	}
}




